h1
{
	background-color: #bbf;
	padding: 4px;
	margin:  0px;
}

h2
{
	background-color: #ddf;
	padding: 4px;
	margin:  0px;
}

div.topmenu
{
	background-color: #eef;
	padding: 2px;
	margin: 0px;
	margin-bottom: 1em;
}

div.topmenu a
{
	float: left;
	padding: 4px;
	border-right: 1px solid white;
}

div.topmenu a:hover
{	
	background-color: #eee;
}

div.topmenu a:visited
{	
	color: black;
}

div.topmenu a.login_jsp
{
	float: right;
	border-left: 1px solid white;
	border-right: 0px none;
}

div.clearer
{
	clear: left;
}

.hebrew
{
	font-size: x-large;
	font-family: Ezra SIL, Doulos SIL, serif;
}

.translit
{
	font-family: Charis SIL;
}	

.bigborder
{
	margin: 1em;
	border: 1px solid #bbf;
	background-color: #eef;
	padding: 1em 2em 2em;
}

.bigborder > *, .advanced > *
{
	margin: 1em 0em 0em;
}

.advanced
{
	display: none;
}

table.grid, table.search_results
{
	border-collapse: collapse;
	width: 100%;
}

table.grid td, table.grid th
{
	margin: 0px;
	border: 1px solid #bbf;
	padding: 0.2em;
}

table.grid th
{
	text-align: left;
}

table.grid td
{
	text-align: center;
}

table.search_results td, table.search_results th
{
	margin: 0px;
	border-top: 1px solid #bbf;
	border-bottom: 1px solid #bbf;
	padding: 0.2em 0.4em;
	text-align: left;
}
	

.errormsg
{
	color: red;
}

.hilite
{
	background-color: #fdd;
}

.selected
{
	background-color: #fee;
}

.cb
{
	float: right;
}

.nav1
{
	 background-color: #fcc;
}

.nav2
{
	 background-color: #fee;
}

ul.mini
{
	margin: 0;
	padding-left: 1.5em;
}